﻿@model TicketListViewModel
<div class="col-md-9">
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail flex-items-center" style="border-color:lightgrey">
                <!--<img class="img-responsive" src="http://placehold.it/800x300" alt="">-->
                <img class="img-responsive" src="@Model.Perfomance.Image" alt="">
                <div class="caption-full">
                    <h3><span class="pull-right  label label-primary">@Model.Perfomance.Date.ToString("d", HandlingFormat.GetFormatDate())</span></h3>
                    <h3>
                        <a href="#">@Model.Perfomance.Name</a>
                    </h3>
                    <h4>@Model.Perfomance.Description</h4>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <h2>
                            <a class="btn btn-primary" role="button" asp-action="AddingTicket" asp-controller="Sales" asp-route-id="@Model.Perfomance.Id">
                                <span class="glyphicon glyphicon-plus" style="padding-right:5px" aria-hidden="true"></span>@Localizer["Add my own ticket"]
                            </a>
                        </h2>
                    }
                </div>
            </div>
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">@TempData["ErrorMessage"]</div>
            }
        </div>
        <div class="col-md-12">
            @foreach (var item in Model.TicketList)
            {
                <div class="card" style="border-color:lightgray">
                    <div class="card-header container" style="padding-top:0px">
                        <h3>
                            <span class="pull-left label label-warning" style="background-color:steelblue">
                                @item.User.LastName @item.User.FirstName (@item.User.Email)
                            </span>
                            <span class="pull-right label label-success">
                                @item.Price.ToString("c", HandlingFormat.GetFormatCurrency())
                            </span>
                        </h3>
                    </div>
                    <div class="card-block container">
                        <form id="@item.Id" asp-action="AddToCart"
                              asp-controller="Cart" method="post">
                            <input type="hidden" asp-for="@item.Id" />
                            <span>
                                <h4>
                                    @item.SellerNotes
                                </h4>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="btn btn-danger pull-right open-deletionDialog"
                                       href="#"
                                       data-toggle="modal"
                                       data-target="#myModal"
                                       data-index="@item.Id"
                                       data-ticketSeller="@item.User.LastName @item.User.FirstName (@item.User.Email)"
                                       data-ticketNotes="@item.SellerNotes"
                                       data-ticketPrice="@item.Price.ToString("c", HandlingFormat.GetFormatCurrency())">
                                        <span class="glyphicon glyphicon-shopping-cart" style="padding-right:5px" aria-hidden="true"></span>
                                        @Localizer["Make order"]
                                    </a>
                                }
                            </span>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">@Localizer["Making order"]</h4>
                </div>
                <div class="modal-body" style="padding-left:30px">
                    <p>
                        <h4>@Localizer["Are you sure you want to make order?"] </h4>
                        <b>@Localizer["Seller"] : </b> <span id="ticketseller"></span> <br>
                        <b>@Localizer["Note"] : </b> <span id="ticketnotes"></span> <br>
                        <h4><b>@Localizer["Price"] : </b> <span id="ticketprice"></span></h4>
                    </p>
                </div>
                <div class="modal-footer">
                    <form asp-action="MakingOrder" asp-controller="Sales">
                        <input class="yes-delete" type="hidden" name="Id" />
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-shopping-cart" style="padding-right:5px" aria-hidden="true"></span>
                            @Localizer["Yes, make order!"]
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            @Localizer["Close"]
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}