﻿@model PerfomanceListViewModel

@section OptionsSideMenu {
    <div class="col-md-3">
        @{await Html.RenderPartialAsync("_IndexOptionsPartial");}
    </div>
}
<div class="col-md-9">
    <div class="row">

        @foreach (var item in Model.Perfomances)
            {
            <div class="col-sm-6 col-lg-4 col-md-6">
                <div class="thumbnail">
                    <!--<img src="http://placehold.it/320x150" alt="@item.Name">-->
                    <img src=@item.Image alt="@item.Name">
                    <div class="caption">
                        <h5><span class="pull-left label label-default">@item.Venue.Name , @item.Venue.City.Name</span></h5>
                        <h4><span class="pull-right label label-primary">@item.Date.ToString("d", HandlingFormat.GetFormatDate())</span></h4>
                        <br>
                        <h4>
                            <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id" asp-route-area="Main">@item.Name</a>
                        </h4>
                        <p>@item.Description</p>
                        <div class="ratings">
                            <p class="pull-right">
                                @Localizer["available"] : @item.Tickets.Where(t =>
                                                                           t.StatusId == TicketStatus.Selling).Count()
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        }
        <div class="container">
            <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
                 page-class="btn" page-class-normal="btn-default"
                 page-class-selected="btn-primary" class="btn-group pull-right">
            </div>
        </div>

    </div>
</div>

