﻿
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.slide-image {
    width: 100%;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.ratings {
    padding-right: 0px;
    padding-left: 10px;
    color: #d17581;
}
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.gi-2x {
    font-size: 12px;
}

.gi-3x {
    font-size: 18px;
}

.gi-4x {
    font-size: 22px;
}

.gi-5x {
    font-size: 28px;
}

select.form-control {
    height:34px !important;
}

.nonebold {
    font-weight:normal !important;
}
