﻿@model Ticket
@{
    ViewData["Title"] = "Adding ticket";
}

<div class="col-md-6">
    <h2>@Localizer["Adding your own ticket"]</h2>
    <hr />
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
    <form asp-action="AddingTicket" method="post">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-10 pull-right">
                    <div class="thumbnail flex-items-center" style="border-color:lightgrey">
                        <!--<img class="img-responsive" src="http://placehold.it/800x300" alt="">-->
                        <img class="img-responsive" src="@Model.Perfomance.Image" alt="">
                        <div class="caption-full">
                            <h4><span class="pull-right  label label-primary">@Model.Perfomance.Date.ToString("d", HandlingFormat.GetFormatDate())</span></h4>
                            <h4>
                                <a href="#">@Model.Perfomance.Name</a>
                            </h4>
                            <h4>@Model.Perfomance.Description</h4>
                        </div>
                    </div>
                </div>
                <input asp-for="Id" hidden value="@Model.Id" class="form-control" />
                <input asp-for="PerfomanceId" hidden value="@Model.PerfomanceId" class="form-control" />
                <input asp-for="UserId" hidden value="@Model.UserId" class="form-control" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Price" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Price" type="number" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="SellerNotes" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="SellerNotes" class="form-control"></textarea>
                    <span asp-validation-for="SellerNotes" class="text-danger"></span>
                </div>
            </div>
            </br>
            <div class="form-group pull-right">
                <div class="col-md-10">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus" style="padding-right:5px" aria-hidden="true"></span>
                        @Localizer["Add"]
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div>
        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model.PerfomanceId">@Localizer["Back to Details"]</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
