﻿@model List<Order>
@section OptionsSideMenu {
    <div class="col-md-3">
        @{await Html.RenderPartialAsync("_OrdersOptionsPartial");}
    </div>
}
<div class="col-md-9">
    <row>
        <div class="col-md-12">
            <h1><small>@Localizer["Your orders"]</small></h1>
            <hr>
            @if (TempData["ErrorMessageOrders"] != null)
            {
                <div class="alert alert-danger" role="alert">@TempData["ErrorMessage"]</div>
            }
            <table class="table table-bordered table-hover">
                <thead class="thead-default">
                    <tr>
                        <th>@Localizer["Perfomance Info"]</th>
                        <th rowspan="2">@Localizer["Seller notes"]</th>
                        @if (ViewBag.FilterParam == OrderStatus.Accepted)
                        {
                            <th class="text-center" rowspan="2">@Localizer["Track number"]</th>
                        }
                        else if (ViewBag.FilterParam == OrderStatus.Declined)
                        {
                            <th class="text-center" rowspan="2">@Localizer["Rejection reason"]</th>
                        }
                        <th class="text-right" rowspan="2">@Localizer["Price"]</th>
                    </tr>
                    <tr>
                        <th>@Localizer["Seller Info"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-left">@item.Ticket.Perfomance.Name (@item.Ticket.Perfomance.Date.ToString("d", HandlingFormat.GetFormatDate()))</td>
                            <td rowspan="2">@item.Ticket.SellerNotes</td>
                            @if (ViewBag.FilterParam == OrderStatus.Accepted)
                            {
                                <td class="text-center" rowspan="2">@item.TrackNum</td>

                            }
                            else if (ViewBag.FilterParam == OrderStatus.Declined)
                            {
                                <td class="text-center" rowspan="2">@item.RejectionReason</td>
                            }
                            <td class="text-right" rowspan="2">@item.Ticket.Price.ToString("c", HandlingFormat.GetFormatCurrency())</td>
                            @if ((ViewBag.FilterParam != OrderStatus.Accepted) && (ViewBag.FilterParam != OrderStatus.Declined))
                            {
                                <td rowspan="2">
                                    <a class="btn btn-danger open-deletionDialog"
                                       href="#"
                                       data-toggle="modal"
                                       data-target="#myModal"
                                       data-index="@item.Id"
                                       data-ticketSeller="@item.Ticket.User.LastName @item.Ticket.User.FirstName (@item.Ticket.User.Email)"
                                       data-ticketNotes="@item.Ticket.SellerNotes"
                                       data-ticketPrice="@item.Ticket.Price.ToString("c", HandlingFormat.GetFormatCurrency())">
                                        <span class="glyphicon glyphicon-trash" style="padding-right:5px" aria-hidden="true"></span>
                                        @Localizer["Remove"]
                                    </a>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td class="text-left">@item.Ticket.User.LastName @item.Ticket.User.FirstName (@item.Ticket.User.Email)</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        @if ((ViewBag.FilterParam == OrderStatus.Accepted) || (ViewBag.FilterParam == OrderStatus.Declined))
                        {
                            <td colspan="3" class="text-right">@Localizer["Total"]:</td>
                        }
                        else
                        {
                            <td colspan="2" class="text-right">@Localizer["Total"]:</td>
                        }
                        <td class="text-right">
                            @Model.Sum(i => i.Ticket.Price).ToString("c", HandlingFormat.GetFormatCurrency())
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </row>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@Localizer["Making order"]</h4>
            </div>
            <div class="modal-body" style="padding-left:30px">
                <p>
                    <h4>@Localizer["Are you sure you want to remove this order?"] </h4>
                    <b>@Localizer["Seller"] : </b> <span id="ticketseller"></span> <br>
                    <b>@Localizer["Note"] : </b> <span id="ticketnotes"></span> <br>
                    <h4><b>@Localizer["Price"] : </b> <span id="ticketprice"></span></h4>
                </p>
            </div>
            <div class="modal-footer">
                <form asp-action="RemoveOrder" asp-controller="Sales">
                    <input class="yes-delete" type="hidden" name="Id" />
                    <button type="submit" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash" style="padding-right:5px" aria-hidden="true"></span>
                        @Localizer["Yes, remove order!"]
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer["Close"]</button>
                </form>
            </div>
        </div>
    </div>
</div>
