﻿@model List<TakenTicketViewModel>
@section OptionsSideMenu {
    <div class="col-md-3">
        @{await Html.RenderPartialAsync("_TicketsOptionsPartial");}
    </div>
}
<div class="col-md-9">
    <row>
        <div class="col-md-12">
            <h1><small>@Localizer["Your tickets"]</small></h1>
            <hr>
            @if (TempData["ErrorMessageTickets"] != null)
            {
                <div class="alert alert-danger" role="alert">@TempData["ErrorMessage"]</div>
            }
            @foreach (var item in Model)
            {
                <div class="card" style="border-color:lightgray">
                    <div class="card-header container" style="padding-top:0px">
                        <h3>
                            <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Ticket.PerfomanceId">@item.Ticket.Perfomance.Name</a>
                            <span class="pull-right label label-primary">@item.Ticket.Perfomance.Date.ToString("d", HandlingFormat.GetFormatDate())</span>
                        </h3>
                        @if ((ViewBag.FilterParam == TicketStatus.WaitingConfirmation) || (ViewBag.FilterParam == TicketStatus.Sold))
                        {
                            <h4>@Localizer["Buyer:"] @item.BuyerInfo</h4>
                        }
                    </div>
                    <div class="card-block container">
                        <h4>@item.Ticket.SellerNotes</h4>
                        <h3>
                            <span class="pull-left label label-success">
                                @item.Ticket.Price.ToString("c", HandlingFormat.GetFormatCurrency())
                            </span>
                        </h3>
                        @if ((ViewBag.FilterParam != TicketStatus.WaitingConfirmation) && (ViewBag.FilterParam != TicketStatus.Sold))
                        {
                            <a class="btn btn-danger open-deletionDialog pull-right"
                               href="#"
                               data-toggle="modal"
                               data-target="#myModal"
                               data-index="@item.Ticket.Id"
                               data-ticketEvent="@item.Ticket.Perfomance.Name (@item.Ticket.Perfomance.Date.ToString("d", HandlingFormat.GetFormatDate()))"
                               data-ticketNotes="@item.Ticket.SellerNotes"
                               data-ticketPrice="@item.Ticket.Price.ToString("c", HandlingFormat.GetFormatCurrency())">
                                <span class="glyphicon glyphicon-trash" style="padding-right:5px" aria-hidden="true"></span>
                                @Localizer["Remove"]
                            </a>
                        }
                        else if (ViewBag.FilterParam == TicketStatus.WaitingConfirmation)
                        {
                            <div class="pull-right">
                                <div class="pull-right">
                                    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseConfirm-@item.Ticket.Id" aria-expanded="false" aria-controls="collapseConfirm">
                                        <span class="glyphicon glyphicon-ok" style="padding-right:5px" aria-hidden="true"></span>
                                        @Localizer["Confirm"]
                                    </a>
                                    <a class="btn btn-danger" role="button" data-toggle="collapse" href="#collapseReject-@item.Ticket.Id" aria-expanded="false" aria-controls="collapseReject">
                                        <span class="glyphicon glyphicon-remove" style="padding-right:5px" aria-hidden="true"></span>
                                        @Localizer["Reject"]
                                    </a>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="myGroup col-md-6" style="float:right; padding-right:0px">
                                <div class="collapse" id="collapseConfirm-@item.Ticket.Id">
                                    <div class="well">
                                        <form asp-action="ConfirmOrder">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group">
                                                <label class="control-label">@Localizer["Write mail track number :"]</label>
                                                <input name="trackNumber" class="form-control" />
                                                <input name="index" hidden class="form-control" value="@item.Ticket.Id" />
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="@Localizer["Apply"]" class="btn btn-primary" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="collapse" id="collapseReject-@item.Ticket.Id">
                                    <div class="well">
                                        <form asp-action="RejectOrder">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group">
                                                <label class="control-label">@Localizer["Write rejection reason :"]</label>
                                                <textarea name="rejectionReason" class="form-control"></textarea>
                                                <input name="index" hidden class="form-control" value="@item.Ticket.Id" />
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="@Localizer["Apply"]" class="btn btn-primary" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            }
        </div>
    </row>
</div>
@if ((ViewBag.FilterParam != TicketStatus.WaitingConfirmation) && (ViewBag.FilterParam != TicketStatus.Sold))
{
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">@Localizer["Making order"]</h4>
                </div>
                <div class="modal-body" style="padding-left:30px">
                    <p>
                        <h4>@Localizer["Are you sure you want to remove this ticket?"] </h4>
                        <b>@Localizer["Perfomance"] : </b> <span id="ticketevent"></span> <br>
                        <b>@Localizer["Note :"] </b> <span id="ticketnotes"></span> <br>
                        <h4><b>@Localizer["Price"] : </b> <span id="ticketprice"></span></h4>
                    </p>
                </div>
                <div class="modal-footer">
                    <form asp-action="RemoveTicket" asp-controller="Sales">
                        <input class="yes-delete" type="hidden" name="Id" />
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash" style="padding-right:5px" aria-hidden="true"></span>
                            @Localizer["Yes, remove ticket!"]
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer["Close"]</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
