﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Perfomances</title>
</head>
<body>
    @section OptionsSideMenu {
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Filter</h3>
                </div>
                <div class="panel-body">
                    <form class="perfomance-filter" action="/" onsubmit="return false">
                        <div class="input-group">
                            <span aria-hidden="true" class="input-group-addon glyphicon glyphicon-search" id="search-addon"
                                  style="top:0px"></span>
                            <input id="eventName" name="eventName" type="text" class="form-control" placeholder="Search text" aria-describedby="search-addon">
                        </div>
                        <br>
                        <div class="input-group">
                            <span aria-hidden="true" class="input-group-addon glyphicon glyphicon-calendar" id="f-date-addon"
                                  style="top:0px"></span>
                            <input type="datetime" class="form-control fromDate" placeholder="From date (dd.mm.yy)" data-provide="datepicker" aria-describedby="f-date-addon">
                            <input class="fromDate" name="fromDate" type="hidden">

                        </div>
                        <br>
                        <div class="input-group">
                            <span aria-hidden="true" class="input-group-addon glyphicon glyphicon-calendar" id="t-date-addon"
                                  style="top:0px"></span>
                            <input type="datetime" class="form-control toDate" placeholder="To date (dd.mm.yy)" data-provide="datepicker" aria-describedby="t-date-addon">
                            <input class="toDate" name="toDate" type="hidden">
                        </div>
                        <br>
                        <p>
                            <label>Select cities</label><br>
                            <select multiple class="select-cities" name="cityIndexes"></select>
                        </p>
                        <p>
                            <label>Select venues</label><br>
                            <select multiple class="select-venues" name="venueIndexes"></select>
                        </p>
                        <label>Order by</label><br>
                        <input class="order-name" name="orderBy" type="hidden">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle options" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Date
                            </button>
                            <ul class="dropdown-menu order-by">
                                <li><a href="javascript:void(0)">Name</a></li>
                                <li><a href="javascript:void(0)">Date</a></li>
                            </ul>
                        </div>
                        <hr>
                        <p style="margin-top:15px">
                            <button type="button" class="btn btn-primary search-btn">
                                <span class="glyphicon glyphicon-ok-circle" style="padding-right:5px" aria-hidden="true"></span>Apply
                            </button>
                            <button type="button" class="btn btn-default clear-btn pull-right">
                                <span class="glyphicon glyphicon-ban-circle" style="padding-right:5px" aria-hidden="true"></span>Clear
                            </button>
                        </p>
                        <input class="offset" name="offset" type="hidden">
                        <input class="limit" name="limit" type="hidden">
                    </form>
                </div>
            </div>
        </div>
    }
    <div class="col-md-9">
        <div class="row">

            <div class="wrapper col-12">

            </div>
            <div class="offset-10 col-md-2">
                <div class="pull-right pagination-wrapper">
                    <ul id="paging-list"></ul>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        var uri = this.location.origin + '/api/perfomances';
        var limit_const = 6;
        $(document).ready(function () {
            render();

            $.get(this.location.origin + '/api/cities', function (data) {
                $.each(data, function (key, item) {
                    $('<option>', { text: item.name, value: item.id }).appendTo($('.select-cities'));
                });
                $('.select-cities').multiselect();
                $('.multiselect b.caret').css('display', 'none');
            }, "json");

            $.get(this.location.origin + '/api/venues', function (data) {
                $.each(data, function (key, item) {
                    $('<option>', { text: item.name, value: item.id }).appendTo($('.select-venues'));
                });
                $('.select-venues').multiselect();
                $('.multiselect b.caret').css('display', 'none');
            }, "json");

            $(".order-by li a").click(function () {
                $(".options").text($(this).text());
                $(".order-name").val($(this).text());
            });

            $('.search-btn').on('click', function () {
                find()
            });

            $('.clear-btn').on('click', function () {
                $('form.perfomance-filter')[0].reset();
                $(':input', 'form.perfomance-filter')
                    .not(':button, :submit, :reset')
                    .val('')
                    .removeAttr('checked')
                    .removeAttr('selected');
                $('.dropdown-menu li').removeClass("active");
                $('.multiselect-selected-text').text('None selected');
            });

            $('#eventName').on('keyup', function () {
                initAutocomplete($(this).val());
            });

            $(".fromDate[type='datetime']").on('change', function () {
                $(".fromDate[type='hidden']").val($(".fromDate[type='datetime']").datepicker('getDate')
                    .toLocaleDateString("en-US"));
            });

            $(".toDate[type='datetime']").on('change', function () {
                $(".toDate[type='hidden']").val($(".toDate[type='datetime']").datepicker('getDate')
                    .toLocaleDateString("en-US"));
            });
        });

        function initAutocomplete(searchString) {
            if (searchString) {
                $.getJSON(this.location.origin + '/api/relevantresults', { searchString})
                    .done(function (data) {
                        $("#eventName").autocomplete({
                            source: data
                        });
                    });
            }
        }

        function render(request) {
            var column = $(".wrapper")
            column.html('');
            $('.offset').val('');
            $('.limit').val('');

            var isChangingTotalItems = false;
            if (!request) {
                request = [{ name: 'offset', value: 0 }, { name: 'limit', value: limit_const }]
                isChangingTotalItems = true;
            }
            else if (!request.find(x => x.name === 'offset').value &&
                !request.find(x => x.name === 'limit').value) {
                request.find(x => x.name === 'offset').value = 0;
                request.find(x => x.name === 'limit').value = limit_const;
                isChangingTotalItems = true;
            }

            $.ajax({
                type: 'GET',
                url: uri,
                data: request,
                success: function (data, textStatus, request) {
                    var totalItems = request.getResponseHeader('Total-items');
                    if (isChangingTotalItems) {
                        initPagination(Math.ceil(totalItems / limit_const));
                    }
                    $.each(data, function (key, item) {
                        column.append(createPerfomanceComponent(item));
                    });
                },
                error: function (request, textStatus, errorThrown) {
                    alert('ERROR : ' + textStatus +' \ '+errorThrown);
                }
            });
        }
        function find() {
            var request = $("form.perfomance-filter").serializeArray();
            render(request);
        }

        function initPagination(total_pages) {
            $('.pagination-wrapper #paging-list').remove();
            $('.pagination-wrapper').html('<ul id="paging-list"></ul>');
            if (total_pages > 1) {
                $('#paging-list').twbsPagination({
                    totalPages: total_pages,
                    first: '',
                    prev: '',
                    next: '',
                    last: '',
                    onPageClick: function (event, page) {
                        $('.offset').val((page - 1) * limit_const);
                        $('.limit').val(limit_const);
                        find();
                        $(window).scrollTop(0);
                    }
                });
            }
        };

        function createPerfomanceComponent(data) {
            var pattern = ['<div class="col-sm-6 col-lg-4 col-md-6">',
                '<div class="thumbnail">',
                '<img src="',
                data.image,
                '"alt = "',
                data.name,
                '" >',
                '<div class="caption">',
                '<h5><span class="pull-left label label-default">',
                data.venue.name,
                ' , ',
                data.venue.city.name,
                '</span ></h5 >',
                ' <h4><span class="pull-right label label-primary">',
                data.date,
                '</span ></h4 >',
                '<br><h4>',
                '<a>',
                data.name,
                '</a ></h4>',
                '<p>',
                data.description,
                '</p >',
                '<div class="ratings">',
                '<p class="pull-right">availible :',
                data.availible,
                '</p>',
                '</div>',
                '</div>',
                '</div>',
                '</div>'];
            return pattern.join('');
        };
    </script>
</body>
</html>