﻿@model Venue
@{
    ViewData["Title"] = "Edit";
}
@section OptionsSideMenu {
    <div class="col-md-3">
        @{await Html.RenderPartialAsync("_AdminOptionsPartial");}
    </div>
}
<div class="col-md-6">
    <h2>@Localizer["Editing venue"]</h2>
    <hr />
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
    <form asp-action="Edit">
        <div class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="City" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="CityId" class="form-control" asp-items="ViewBag.Cities">
                        <option value="">-- @Localizer["Select City"] --</option>
                    </select>
                    <span asp-validation-for="CityId" class="text-danger"></span>
                </div>
            </div>
            </br>
            <div class="form-group pull-right">
                <div class="col-md-10">
                    <input type="submit" value="@Localizer["Update"]" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
    <div>
        <a asp-action="Index">@Localizer["Back to List"]</a>
    </div>
</div>
@section Scripts {
@{await Html.RenderPartialAsync("/Areas/Main/Views/Shared/_ValidationScriptsPartial.cshtml");}
}
