﻿@model List<Venue>
@section OptionsSideMenu {
    <div class="col-md-3">
        @{await Html.RenderPartialAsync("_AdminOptionsPartial");}
    </div>
}
<div class="col-md-9">
    <row>
        <div class="col-md-12">
            <h1>
                <small>@Localizer["Venues"]</small>

                <a class="btn btn-primary pull-right" role="button" asp-action="Create" asp-controller="VenueManagement">
                    <span class="glyphicon glyphicon-plus" style="padding-right:5px" aria-hidden="true"></span>@Localizer["Create New"]
                </a>
            </h1>
            <hr>
            <p class="text-danger">@ViewData["ErrorMessage"]</p>
            <table class="table table-bordered table-hover">
                <thead class="thead-default">
                    <tr>
                        <th class="text-center">@Localizer["Id"]</th>
                        <th class="text-center">@Localizer["Name"]</th>
                        <th class="text-center">@Localizer["City"]</th>
                        <th class="text-center">@Localizer["Address"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-right">@item.Id</td>
                            <td class="text-left">@item.Name</td>
                            <td class="text-left">@item.City.Name</td>
                            <td class="text-left">@item.Address</td>
                            <td class="text-left">
                                <a class="btn btn-primary"
                                   asp-action="Edit"
                                   asp-controller="VenueManagement"
                                   asp-route-id=@item.Id>
                                    @Localizer["Edit"]
                                </a>
                                <a class="btn btn-primary open-deletionDialog"
                                   href="#"
                                   data-toggle="modal"
                                   data-target="#myModal"
                                   data-index="@item.Id"
                                   data-venueId="@item.Id"
                                   data-venueName="@item.Name"
                                   data-venueCity="@item.City.Name"
                                   data-venueAddress="@item.Address">
                                    @Localizer["Delete"]
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </row>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@Localizer["Deletion"]</h4>
            </div>
            <div class="modal-body" style="padding-left:30px">
                <p>
                    <h4>@Localizer["Are you sure you want to delete this item?"] </h4>
                    <b>@Localizer["Id"] : </b> <span id="venueid"></span> <br>
                    <b>@Localizer["Name"] : </b> <span id="venuename"></span> <br>
                    <b>@Localizer["City"] : </b> <span id="venuecity"></span> <br>
                    <b>@Localizer["Address"] : </b> <span id="venueaddress"></span>
                </p>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete" asp-controller="VenueManagement">
                    <input class="yes-delete" type="hidden" name="Id" />
                    <button type="submit" class="btn btn-primary">
                        @Localizer["Yes, delete!"]
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        @Localizer["Close"]
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>