﻿@model UserViewModel
@{
    ViewData["Title"] = "Edit";
}
@section OptionsSideMenu {
    <div class="col-md-3">
        @{await Html.RenderPartialAsync("_AdminOptionsPartial");}
    </div>
}
<div class="col-md-6">
    <h2>@Localizer["Editing user"]</h2>
    <hr />
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
    <form asp-action="Edit">
        <div class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <label class="control-label nonebold">@Model.Email</label>
                    <input asp-for="Email" hidden class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <label class="control-label nonebold">@Model.FirstName</label>
                    <input asp-for="FirstName" hidden class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <label class="control-label nonebold">@Model.LastName</label>
                    <input asp-for="LastName" hidden class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <label class="control-label nonebold">@Model.Address</label>
                    <input asp-for="Address" hidden class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <label class="control-label nonebold">@Model.PhoneNumber</label>
                    <input asp-for="PhoneNumber" hidden class="form-control" />
                </div>
            </div>
            <div class="form-group">                
                    <label asp-for="RoleId" class="col-md-3 control-label"></label>
                <div class="col-md-6">
                    <select class="form-control" asp-for="RoleId" asp-items="Html.GetEnumSelectList<UserRole>()"></select>
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
            </div>
        </div>
        </br>
        <div class="form-group">
            <div class="col-md-5 pull-right">
                <input type="submit" value="@Localizer["Update"]" class="btn btn-primary" />
            </div>
        </div>
    </form>
    <div>
        <a asp-action="Index">@Localizer["Back to List"]</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("/Areas/Main/Views/Shared/_ValidationScriptsPartial.cshtml");}
}
