﻿@model List<UserViewModel>

@section OptionsSideMenu {
    <div class="col-md-3">
        @{await Html.RenderPartialAsync("_AdminOptionsPartial");}
    </div>
}
<div class="col-md-9">
    <row>
        <div class="col-md-12">
            <h1>
                <small>@Localizer["Roles"]</small>
            </h1>
            <hr>
            <p class="text-danger">@ViewData["ErrorMessage"]</p>
            <table class="table table-bordered table-hover">
                <thead class="thead-default">
                    <tr>
                        <th rowspan="2" class="text-right">@Localizer["Id"]</th>
                        <th class="text-left">@Localizer["Email"]</th>                       
                        <th class="text-left">@Localizer["Address"]</th>
                        <th rowspan="2" class="text-center">@Localizer["Role"]</th>
                        
                    </tr>
                    <tr>
                        <th class="text-left">@Localizer["Name"]</th>
                        <th class="text-left">@Localizer["Phone number"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td rowspan="2" class="text-right">@item.Id</td>
                            <td class="text-left">@item.Email</td>
                            <td class="text-left">@item.Address</td>
                            <td rowspan="2" class="text-center">
                                @item.RoleId
                            </td>

                            <td class="text-left" rowspan="2">
                                <a class="btn btn-primary"
                                   asp-action="Edit"
                                   asp-controller="RoleManagement"
                                   asp-route-id=@item.Id>
                                    @Localizer["Edit"]
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">@item.FirstName @item.LastName</td>
                            <td class="text-left">@item.PhoneNumber</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </row>
</div>
