﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@Localizer["Filter"]</h3>
    </div>
    <div class="panel-body">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                @Localizer["City"] 
            </button>
            <ul class="dropdown-menu" id="filterCities" aria-labelledby="dropdownFilter">
                @foreach (var item in ViewBag.Cities as List<City>)
                {
                    <li><a asp-controller="Home" asp-action="Index"  asp-route-area="Main" asp-route-filterValue=@item.Id>@item.Name</a></li>
                }
                <li role="separator" class="divider"></li>
                <li><a asp-controller="Home" asp-action="Index"  asp-route-area="Main" asp-route-filterValue=null>@Localizer["All"]</a></li>
            </ul>
        </div>
    </div>

</div>
