﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" asp-href-include="lib/css/shop-homepage.css">
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" asp-href-include="lib/css/bootstrap-multiselect.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <title>TICKET RESELLER</title>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" style="padding-top:70px">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-action="Index" asp-controller="Home" asp-route-area="">TICKET RESELLER</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li id="main">
                        <a asp-action="Index" asp-controller="Home" asp-route-area="">@Localizer["Main"]</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li id="MyOrders">
                            <a asp-action="MyOrders" asp-controller="Sales" asp-route-filterParam=@OrderStatus.InProgress asp-route-area="">@Localizer["My Orders"]</a>
                        </li>
                        <li id="MyTickets">
                            <a asp-action="MyTickets" asp-controller="Sales" asp-route-filterParam=@TicketStatus.Selling asp-route-area="">@Localizer["My Tickets"]</a>
                        </li>
                    }
                    <li id="SwaggerUI">
                        <a href="~/swagger/ui">@Localizer["Swagger UI"]</a>
                    </li>
                    <li id="WebapiUI">
                        <a href="~/api/home">@Localizer["Web API UI"]</a>
                    </li>
                    <li id="About">
                        <a asp-action="About" asp-controller="Home" asp-route-area="">@Localizer["About"]</a>
                    </li>
                </ul>
                @{await Html.RenderPartialAsync("/Areas/Main/Views/Shared/_LoginPartial.cshtml");}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            @if (IsSectionDefined("OptionsSideMenu"))
            {
                @RenderSection("OptionsSideMenu")
            }
            else
            {
                <div class="col-md-3">
                </div>
            }
            @RenderBody()
        </div>
    </div>
    <!-- /.container -->
    <div class="container">
        <hr style="border-color:lightgrey">
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-4 text-left flex-middle">
                    <div class="dropup">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            @Localizer["language"]
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><a asp-controller="Home" asp-action="SelectLanguage" asp-route-cultureValue="En" asp-route-area="">EN</a></li>
                            <li><a asp-controller="Home" asp-action="SelectLanguage" asp-route-cultureValue="Ru" asp-route-area="">RU</a></li>
                            <li><a asp-controller="Home" asp-action="SelectLanguage" asp-route-cultureValue="Be" asp-route-area="">BY</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <p>
                        <a href="#myPage" title="To Top">
                            <span class="glyphicon glyphicon-circle-arrow-up gi-5x" aria-hidden="true"></span>
                        </a>
                    </p>
                    Developed by Churak Oleg<br />
                    oleghellraiser@gmail.com
                </div>
            </div>
            <br>
        </footer>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script asp-src-include="lib/jquery/dist/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script asp-src-include="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script asp-src-include="lib/tether/dist/js/tether.min.js"></script>
    <script asp-src-include="lib/bootstrap/dist/js/bootstrap-datepicker.min.js"></script>

    <script asp-src-include="lib/js/myScript.js"></script>
    <script asp-src-include="lib/js/bootstrap-multiselect.js"></script>
    <script asp-src-include="lib/js/jquery-ui.js"></script>
    <script asp-src-include="lib/js/jquery.twbsPagination.js"></script>

</body>
</html>
@RenderSection("scripts", required: false)