﻿<ul class="nav navbar-nav navbar-right">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome, @User.Identity.Name</a>
            <ul class="dropdown-menu">
                <li><a asp-action="UserInfo" asp-controller="Account"  asp-route-area="Main"><span style="padding-right:5px" class="glyphicon glyphicon-info-sign"></span>@Localizer["My account"]</a></li>
                @if (User.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Role).Value == UserRole.Admin.ToString())
                {
                    <li role="separator" class="divider"></li>
                    <li><a asp-action="Index" asp-controller="RoleManagement" asp-route-area="Admin">
                            <span style="padding-right:5px" class="glyphicon glyphicon-asterisk"></span>@Localizer["My admin panel"]
                        </a>
                    </li>
                }
                <li role="separator" class="divider"></li>
                <li><a asp-action="Logout" asp-controller="Account" asp-route-area="Main">
                    <span style="padding-right:5px" class="glyphicon glyphicon-log-out"></span>@Localizer["Log Out"]
                    </a>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li><a asp-action="Register" asp-controller="Account"  asp-route-area="Main"><span class="glyphicon glyphicon-user"></span> @Localizer["Sign Up"]</a></li>
        <li><a asp-action="Login" asp-controller="Account"  asp-route-area="Main"><span class="glyphicon glyphicon-log-in"></span> @Localizer["Login"]</a></li>
    }
</ul>