﻿<div class="list-group">
    <a class="list-group-item"
       asp-action="MyOrders"
       asp-controller="Sales"
       asp-route-area="Main"
       asp-route-filterParam=@OrderStatus.InProgress>
        @Localizer["Waiting for confirmation"]
    </a>
    <a class="list-group-item"
       asp-action="MyOrders"
       asp-controller="Sales"
       asp-route-area="Main"
       asp-route-filterParam=@OrderStatus.Accepted>
        @Localizer["Confirmed"]
    </a>
    <a class="list-group-item"
       asp-action="MyOrders"
       asp-controller="Sales"
       asp-route-area="Main"
       asp-route-filterParam=@OrderStatus.Declined>
        @Localizer["Rejected"]
    </a>
</div>