﻿<div class="list-group">
    <a class="list-group-item"
       asp-action="MyTickets"
       asp-controller="Sales"
       asp-route-filterParam=@TicketStatus.Selling>
        @Localizer["Selling"]
    </a>
    <a class="list-group-item"
       asp-action="MyTickets"
       asp-controller="Sales"
       asp-route-filterParam=@TicketStatus.WaitingConfirmation>
        @Localizer["Waiting Confirmation"]
    </a>
    <a class="list-group-item"
       asp-action="MyTickets"
       asp-controller="Sales"
       asp-route-filterParam=@TicketStatus.Sold>
        @Localizer["Sold"]
    </a>
</div>
