﻿<div class="list-group">
    <a class="list-group-item"
       asp-action="Index"
       asp-controller="RoleManagement">
        @Localizer["Roles"]
    </a>
    <a class="list-group-item"
       asp-action="Index"
       asp-controller="CityManagement">
        @Localizer["Cities"]
    </a>
    <a class="list-group-item"
       asp-action="Index"
       asp-controller="VenueManagement">
        @Localizer["Venues"]
    </a>
    <a class="list-group-item"
       asp-action="Index"
       asp-controller="PerfomanceManagement">
       @Localizer["Perfomances"]
    </a>
</div>