﻿@model Perfomance
@{
    ViewData["Title"] = "Edit";
}
@section OptionsSideMenu {
    <div class="col-md-3">
        @{await Html.RenderPartialAsync("_AdminOptionsPartial");}
    </div>
}
<div class="col-md-6">
    <h2>@Localizer["Editing perfomance"]</h2>
    <hr />
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
    <form asp-action="Edit"  enctype="multipart/form-data">
        <div class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Date" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Date" data-provide="datepicker" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Venue" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="VenueId" class="form-control" asp-items="ViewBag.Venues">
                        <option value="">-- @Localizer["Select Venue"] --</option>
                    </select>
                    <span asp-validation-for="VenueId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Image" class="col-md-2 control-label"></label>
                <div class="col-md-6">
                    <img class="img-responsive roundCorner" src="@Model.Image" alt="">
                    <br>
                </div>
                
                <div class="col-md-10 pull-right">
                    <input class="input-image" type="file" name="uploadedFile" />
                    <input class="input-image" type="hidden" asp-for="Image" />
                    <span asp-validation-for="Image" class="text-danger"></span><br>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            </br>
            <div class="form-group pull-right">
                <div class="col-md-10">
                    <input type="submit" value="@Localizer["Update"]" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
    <div>
        <a asp-action="Index">@Localizer["Back to List"]</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("/Areas/Main/Views/Shared/_ValidationScriptsPartial.cshtml");}
}
