﻿@model List<Perfomance>
@section OptionsSideMenu {
    <div class="col-md-3">
        @{await Html.RenderPartialAsync("_AdminOptionsPartial");}
    </div>
}
<div class="col-md-9">
    <row>
        <div class="col-md-12">
            <h1>
                <small>@Localizer["Perfomances"]</small>
                <a class="btn btn-primary pull-right" role="button" asp-action="Create" asp-controller="PerfomanceManagement">
                    <span class="glyphicon glyphicon-plus" style="padding-right:5px" aria-hidden="true"></span>@Localizer["Create New"]
                </a>
            </h1>
            <hr>
            <p class="text-danger">@ViewData["ErrorMessage"]</p>
            <table class="table table-bordered table-hover">
                <thead class="thead-default">
                    <tr>
                        <th class="text-center col-md-2" style="padding-bottom:30px" rowspan="2">@Localizer["Image"]</th>
                        <th class="text-center col-md-1">@Localizer["Id"]</th>
                        <th class="text-center col-md-3">@Localizer["Name"]</th>
                        <th class="text-center col-md-2">@Localizer["Date"]</th>
                        <th class="text-center col-md-2">@Localizer["Venue"]</th>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="4">@Localizer["Description"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td rowspan="2" style="padding:0px">
                                <img class="img-responsive" src="@item.Image" alt="">
                            </td>
                            <td class="text-right">@item.Id</td>
                            <td class="text-left">@item.Name</td>
                            <td class="text-center">@item.Date.ToString("d", HandlingFormat.GetFormatDate())</td>
                            <td class="text-left">@item.Venue.Name</td>
                            <td class="text-left" rowspan="2" style="padding-top:20px">
                                <a class="btn btn-primary"
                                   asp-action="Edit"
                                   asp-controller="PerfomanceManagement"
                                   asp-route-id=@item.Id>
                                    @Localizer["Edit"]
                                </a>
                                <a class="btn btn-primary open-deletionDialog"
                                   href="#"
                                   data-toggle="modal"
                                   data-target="#myModal"
                                   data-index="@item.Id"
                                   data-perfomanceId="@item.Id"
                                   data-perfomanceName="@item.Name"
                                   data-perfomanceDate="@item.Date.ToString("d",HandlingFormat.GetFormatDate())"
                                   data-perfomanceVenue="@item.Venue.Name"
                                   data-perfomanceDescription="@item.Description">
                                    @Localizer["Delete"]
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left" colspan="4">@item.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </row>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@Localizer["Deletion"]</h4>
            </div>
            <div class="modal-body" style="padding-left:30px">
                <p>
                    <h4>@Localizer["Are you sure you want to delete this item? "]</h4>
                    <b>@Localizer["Id"] : </b> <span id="perfomanceid"></span> <br>
                    <b>@Localizer["Name"] : </b> <span id="perfomancename"></span> <br>
                    <b>@Localizer["Date"] : </b> <span id="perfomancedate"></span> <br>
                    <b>@Localizer["Venue"] : </b> <span id="perfomancevenue"></span> <br>
                    <b>@Localizer["Description"] : </b> <span id="perfomancedescription"></span>
                </p>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete" asp-controller="PerfomanceManagement">
                    <input class="yes-delete" type="hidden" name="Id" />
                    <button type="submit" class="btn btn-primary">
                        @Localizer["Yes, delete!"]
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        @Localizer["Close"]
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>